[submodule "UI"]
	path = UI
	url = https://github.com/ShubhamP1028/snn-leaf-guardian
[submodule "frontend"]
	path = frontend
	url = https://github.com/ShubhamP1028/snn-leaf-guardian
	branch = capstone
